
/* Styling Start */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    background-color: rgb(247, 234, 234);

}

/* Header Area */
header {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #0d6efd;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
}
.btn:hover {
  background-color: #18407c;
  cursor: pointer;
  transition: 0.8s;
}
/* section 1 Area */
#section-1 {
    width: 70%;
    margin: 50px auto;
}

#section-1 > h1 {
    font-size: 55px;
    font-weight: 800;
    text-shadow: 2px 2px 8px #b17575;
    text-align: center;
    margin-bottom: 25px;
}
#section-1 > p {
    width: 60%;
    margin: 0 auto;
    color: #706f6f;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}
#buy-now-btn-container {
    display: flex;
    justify-content: center;
}


/* section 2 Area */
#section-2 {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
#section-2 > img {
    width: 100%;
}

/* section 3 Area */
#section-3 {
    width: 70%;
    margin: 50px auto;
}

#section-3 > h2 {
    text-align: center;
    margin-bottom: 20px;
}

#search-container {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    background-color: beige;
}
#search-bar {
    width: 70%;
}
#search-bar > input[type="text"] {
    padding: 15px;
    border: 0;
    width: 50%;
    background-color: beige;
    outline: none;
}

#search-button {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

/* spinner section Area */
.loading_div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.loading_div > .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(farthest-side, #4430c9 95%, #0000) 50% 0/12px 12px
      no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 5px),
        #ffa516 calc(100% - 4px)
      )
      content-box;
  animation: l6 2s infinite;
}
@keyframes l6 {
  to {
    transform: rotate(1turn);
  }
}